<div class="center hero-unit">
<% provide(:title, 'Sign up') %>
<h5>
  Non-Committal Sign Up
</h5>

<div class="center">
  <div id="instructions">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :guacamole %>
      <%= f.check_box :guac, {:class => "guac"} %>

      <%= f.label :Beverages %>
      <%= f.check_box :beer, {:class => "beer"} %>

      <%= f.label :Other %>
      <%= f.check_box :other, {:class => "beer"} %>

      <br>
      <br>
      <%= f.submit "See you then!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>



  <h4 id="contact">
    <p>
      Questions? Call or tweet <%= link_to "@lspray", "https://twitter.com/lspray" %></li>
    </p>
</div>